body {
    background-color: black;
    color: white;
    margin: 0;
}

.image-container {
    position: relative;
    transition: transform 0.2s;
}

.image-container img{
    height: 350px;
    margin-bottom: 1.5rem;
}

.image-container:hover {
    transform: scale(0.9);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(77, 77, 77, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
    cursor: pointer;
}

.titulo-filme-card{
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem 0 1rem;
    background-color: #eeeeee;
    border-radius: 30px;
  }
  
  .content-box {
    max-width: 87vw;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .movie-app{
    width: 90vw;
  }